.detailFondoAll{
    background:linear-gradient(to bottom, #2b2b2b41 50%, #0000005f 95%), url("../imgs/detailFondo.jpg");
    background-size: cover;
    object-fit: contain;
    overflow-y: scroll;
    background-position: center;
    background-size: cover;
    object-fit: contain;   
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedorDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: rgba(171, 193, 235, 0.257);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    padding: 20px;

}

.contenedorGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 20px;
    justify-content: space-around;
    align-items: center;
}
.izquierdoArriba{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

.imageDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 100px;

}

.HelSco{
    display: flex;
    margin-top: 15px;
}

p{
    background-color: rgba(171, 193, 235, 0.257);
    border-radius: 10px;
    margin: 5px;
}

.textabajo{
    background-color: rgba(171, 193, 235, 0.257);
    border-radius: 10px;
    padding: 5px;
}

.tituloDetail{
    display: flex;
    margin-top: 20px;
    font-size: 50px;
}