*{
    padding: 0;
    margin: 0;
}

.xdx{
    
    background:white;
    background-size: cover;
    object-fit: contain;
    overflow-y: scroll;
    background-position: center;
    background-size: cover;
    object-fit: contain;   
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo{
width: 800px;
margin: auto;
color: black;
margin-left: 1px;
font-size: 50px;


}


.campos{
    background-color: rgb(0, 0, 0, 0.6);
    width: 80%;
    margin-right: -62px;

}



#celdaName{
    width: 100%;
    height: 100px;
}
.name{
    margin-left: 100px;
    margin-top: 20px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
   
    
}

.barra{
    position: relative;
    left: 100px;
    top: -37px;
    line-height: 40px;
    width: 380px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
  
}

.dietaSeleccionada{
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.pSeleccionada{
    display:inline-block;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}


.envueltoName{
    width: 50px;
}