
    .paginado{
    
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 1%;
        margin: 5px;
    }
    
    .actual{
        background-color: orange;
    }

    .reset{
        background-color: #014763;
    }